---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="About Me" description="About Karanveer">
    <article>
        <head><h1>About</h1></head>
        <p>
            Hello and welcome to my blog!<br />
             My name is Karanveer, but you can call me KV.<br />
             I'm enthusiastic about Python, Go, F#, functional programming,
            desktop apps and web development. This blog is my effort to explore,
            organize and share my ideas about code.
        </p>
    </article>
</Layout>
