---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" description="My personal projects">
    <ul>
        <li>
            <div>
                <span>
                    <a href="https://github.com/karanveersp/CypherFS"
                        >CypherFS</a
                    >
                </span>
                <p>
                    An F# CLI app to AES encrypt/decrypt text data.
                    <br />
                     Useful for storing passwords, and secrets, which can be
                    backed up and shared securely.
                </p>
            </div>
        </li>
        
        <li>
            <div>
                <span>
                    <a href="https://github.com/karanveersp/dotnet-cmdref"
                        >CmdRef dotnet tool</a
                    >
                </span>
                <p>
                    A dotnet tool implemented in F# to serve as a command reference store.
                    <br />
                     Useful for collecting long or complicated commands that are difficult to remember (looking at you Docker!).
                     You can find this tool and the installation commands on <a href="https://www.nuget.org/packages/dotnet-cmdref/">NuGet</a>.
                </p>
            </div>
        </li>

        <li>
            <div>
                <span>
                    <a href="https://github.com/karanveersp/Capstone">
                        Cryptocurrency Price Forecaster
                    </a>
                </span>
                <p>
                    A desktop app to analyze and forecast cryptocurrency prices
                    using machine learning.
                    <br />
                     Built with C#, ML.NET and Avalonia.
                </p>
            </div>
        </li>

        <li>
            <div>
                <span>
                    <a href="https://github.com/karanveersp/simple-file-logger">
                        Simple File Logger
                    </a>
                </span>
                <p>
                    A Python library providing an easy to use class for logging
                    to files with opinionated defaults that can be customized.
                </p>
            </div>
        </li>
    </ul>
</BaseLayout>
