<footer>
    <p>&copy; <span id="year"></span> Karanveer Singh. All rights reserved.</p>
    <small>
        Made with <a href="https://astro.build" target="_blank">
            <img id="astroLight" src="/astro-logo-dark.svg" alt="astro logo" />
            <img id="astroDark" src="/astro-logo-light.svg" alt="astro logo" />
        </a>
    </small>
</footer>
<script>
    function updateYear() {
        const yearSpan = document.getElementById("year");
        if (yearSpan !== null) {
            yearSpan.textContent = new Date().getFullYear().toString();
        }
    }
    updateYear();
    document.addEventListener("astro:after-swap", updateYear);
</script>
<style>
    img {
        height: 1em;
    }
    :global(.dark) #astroDark {
        display: inline-block;
    }
    :global(.dark) #astroLight {
        display: none;
    }

    #astroLight {
        display: inline-block;
    }
    #astroDark {
        display: none;
    }

    footer {
        padding: 2em 1em 6em 1em;
        color: var(--pico-h6-color);
        text-align: center;
        align-items: center;
    }
</style>
