---
const { tags } = Astro.props;
---

{
  tags.map((tag: string) => (
    <a href={`tags/${tag}`} class="taglink">
      {tag}
    </a>
  ))
}

<style>
  .taglink {
    display: inline-flex;
    margin-right: 1em;
  }
</style>
