---

---

<button id="themeToggle">
  <i id="sunIcon" class="bx bx-sun bx-sm"></i>
  <i id="moonIcon" class="bx bxs-moon bx-sm"></i>
</button>

<style>
  #themeToggle {
    border: none;
    background: none;
    padding: 0;
    --pico-box-shadow: none;
    transition: transform 0.4s ease;
    --icon-color-light: #373c44;
    --icon-color-dark: #969eaf;
  }

  #themeToggle:hover {
    color: var(--pico-primary-hover);
  }

  .bx {
    width: 32px;
    height: 32px;
  }

  #sunIcon {
    color: var(--icon-color-light);
  }

  #moonIcon {
    display: none; /* Default hidden */
    color: var(--icon-color-dark);
  }

  #themeToggle:hover #moonIcon,
  #themeToggle:hover #sunIcon {
    color: var(--pico-primary-hover);
  }

  :global(.dark) #sunIcon {
    display: none;
  }

  :global(.dark) #moonIcon {
    display: inline-block;
  }
</style>

<script is:inline>
const theme = (() => {
  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
    return localStorage.getItem("theme");
  }
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    return "dark";
  }
  return "light";
})();

if (theme === "light") {
  document.documentElement.setAttribute("data-theme", "light");
  document.documentElement.classList.add("light");
} else {
  document.documentElement.setAttribute("data-theme", "dark");
  document.documentElement.classList.add("dark");
}

window.localStorage.setItem("theme", theme);

const handleToggleClick = () => {
  const element = document.documentElement;
  element.classList.toggle("dark");
  let theme = element.getAttribute("data-theme");
  const isDark = theme === "dark";
  if (isDark) {
    element.setAttribute("data-theme", "light");
  } else {
    element.setAttribute("data-theme", "dark");
  }
  localStorage.setItem("theme", isDark ? "light" : "dark");
};

document
  .getElementById("themeToggle")
  .addEventListener("click", handleToggleClick);
</script>
